@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="NewColor">The Marble</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <p><button class="btn btn-default" onclick="TalkServer();">Pick Marble &raquo;</button></p>
    </div>
    <div class="col-md-6">
        <p><button class="btn btn-default" onclick="MarbleCreator();">Leave Marble &raquo;</button></p>
    <input type="text" name="name" value="" id="ColorNew" placeholder="What Color(s)?" />
    </div>
</div>